<html> 
    <header>
        <div class="container">
            <img src="https://i.imgur.com/jCxpBrW.jpeg" alt="Logo.PNG" class="Logo">            
            <nav>
                <ul>
                    <li><a routerLink="/Home">Home</a></li>

                    <li><a [routerLink]="['Login']" routerLinkActive="active">Login</a></li>
                    <li><a [routerLink]="['Register']" routerLinkActive="active">Register</a></li>
                    <li><a [routerLink]="['Tickets']" routerLinkActive="active">Support</a></li>

                </ul>
            </nav>
        </div>
    </header>
</html>